<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Register</h1>
    <p><%= error %></p>
    <form method="post">
      <p>
        <input
          type="text"
          name="username"
          placeholder="Username"
          value="<%= typeof username != 'undefined' ? username : '' %>"
        />
      </p>
      <p>
        <input type="password" name="password" placeholder="Password" />
      </p>
      <p>
        <input
          type="password"
          name="password2"
          placeholder="Confirm Password"
        />
      </p>
      <p><input type="submit" value="Register" /></p>
    </form>
    <p><a href="/login">Login</a></p>
  </body>
</html>
