<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Manager | Rune</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="scrollbar bg-gray-800 text-white grid grid-cols-1 justify-center items-center min-h-screen"
  >
    <script>
      function confirmLogout() {
        if (window.confirm("Are you sure you want to logout?")) {
          document.getElementById("logoutForm").submit();
        }
      }

      function confirmEdit() {
        if (window.confirm("Are you sure you want to Edit the user?")) {
          document.getElementById("saveForm").submit();
        }
      }
    </script>
    <div
      class="container mx-auto p-10 bg-gray-900 shadow-lg rounded-lg text-white"
    >
      <h1 class="text-5xl font-bold mb-6 text-center">
        <span
          class="bg-gradient-to-r from-blue-500 via-purple-500 to-green-500 text-transparent bg-clip-text"
          >Rune</span
        >
        Control Panel
      </h1>
      <div class="border-2 border-gray-800 p-5 rounded">
        <div class="flex justify-between">
          <a
            href="/admin"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded"
          >
            Back to Admin Panel
          </a>
          <form id="logoutForm" action="/logout" method="POST" class="mb-4">
            <button
              type="button"
              class="bg-red-500 hover-bg-red-900 text-white font-bold py-2 px-4 rounded"
              onclick="confirmLogout()"
            >
              Log Out
            </button>
          </form>
        </div>
      </div>
      <form
        action="/admin/account-manager/edit/<%= user._id %>"
        method="POST"
        id="saveForm"
      >
        <div
          class="mb-4 border-2 hover:bg-blue-800 transition duration-300 border-gray-800 p-5 rounded"
        >
          <label
            for="name"
            class="block mb-1 text-2xl bg-gradient-to-r from-blue-500 via-purple-500 to-green-500 text-transparent bg-clip-text"
          >
            <strong>Name:</strong>
          </label>
          <input
            type="text"
            id="name"
            name="name"
            class="w-full px-3 py-2 bg-gray-800 text-white rounded-lg"
            value="<%= user.name %>"
          />
        </div>
        <div
          class="mb-4 border-2 hover:bg-blue-800 transition duration-300 border-gray-800 p-5 rounded"
        >
          <label
            for="password"
            class="block mb-1 text-2xl bg-gradient-to-r from-blue-500 via-purple-500 to-green-500 text-transparent bg-clip-text"
          >
            <strong>Password:</strong>
          </label>
          <input
            type="text"
            id="password"
            name="password"
            class="w-full px-3 py-2 bg-gray-800 text-white rounded-lg"
            value="<%= user.password %>"
          />
        </div>
        <button
          type="button"
          class="bg-green-500 hover-bg-green-900 text-white font-bold py-2 px-4 rounded"
          onclick="confirmEdit()"
        >
          Update
        </button>
      </form>
    </div>
  </body>
</html>
